.slick-arrow:before
{
    color: #0D265E !important;
    font-size: 24px;
}

.slick-slider-content
{
    color: #0D265E;
}

.slick-slider-img 
{
    height: 165px;
    width: 269px;
    margin-left: 16px !important;
}

.bed-bath-and-beyond
{
    font-size: 18px;
    color: grey;
}

.heavy-text
{
    font-weight: bold;
    line-height: 16pt;
}

.property-text p
{
    margin: 10px;
}